<h2>Add a new task to the To Do List:</h2>

<form method="post">
    <label>Description:</label>
    <input type="text" name="Description" />
    <br />
    <label>Due date:</label>
    <input type ="date" name="DueDate"/>
    <br />
@{ 

}

    <input type="submit" />
</form>