<h2>Available To Do List actions:</h2>

<a href="/ToDoApp/ViewTasks">View all of your tasks</a>
<br />
<a href="/ToDoApp/ViewCompleted">View completed Tasks</a>
<br />
<a href="/ToDoApp/ViewIncomplete">View incomplete Tasks</a>
<br />
<a href="/ToDoApp/AddTask">Add a new task</a>
<br />