<h2>Available To Do List actions:</h2>

    <a href="/ToDoApp/ViewTasks">View all of your assigned tasks</a>
    <a href="/ToDoApp/AddTask">Add a new task</a>

        @*<label><b>Task ID:</b></label>
        @Html.HiddenFor(t => t.TaskId)
        @Html.HiddenFor(t => t.Description)
        @Html.HiddenFor(t => t.DueDate)
        @Html.HiddenFor(t => t.OwnerId)*@

