@model Task

<h2>Modification was successful</h2> 

<p>The requested modification was successfully applied. Please navigate back to the <a href="/ToDoApp/Index">Index page to perform further changes.</a></p>