@model Tasks

<h2>Your task has been successfully added:</h2>

<p>
    <b>Task ID:</b> @Model.TaskId<br />
    <b>Task Description:</b> @Model.Description<br />
    <b>Task Due Date:</b> @Model.DueDate
</p>

<p>To perform further operations on your assigned tasks or to add new tasks, please navigate to the <a href="ToDoApp/Index">ToDoApp Index page.</a></p>
