@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the To Do List web app!</h1>
    <p>To get started, please <a href="/Identity/Account/Login">login using your credentials</a> or <a href="/Identity/Account/Register">register a new account.</a></p>
<p>After logging in you'll be able to access the ToDoApp to add, modify, and delete tasks via the <a href="/ToDoApp/Index/">ToDoApp Index page</a></p>
</div>
